body,
h1,
h2,
h3,
h4,
h5,
h6,
p, li, a {
    font-weight: 400;
}

body {
    margin: 0 30px;
}

p, ul, ol, li, blockquote {
    font-size: 1em;
    list-style-type: none;
    margin: 0;
    padding: .5em 0;
}

#footer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 1.2em 0 5em 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    position: sticky;
    top: 0;
}

#top-nav {
    position: relative;
}

#hero-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    margin-top: 3em;
    z-index: 100;
}

#hero-title{
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
}

.hero-body p{
    font-family: 'Playfair Display', serif;
    text-align: center;
    max-width: 42.5em;
    font-size: 2em;
    padding: 1em 0;
}

li {
    float: left;
    padding: 8px;
}

.navlink {
    font-size: 1.5em;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.hero-caption p {
    font-size: 1.5em;
    padding-bottom: 1em;
}

ul {
    list-style-type: none;
}

a:link{
    text-decoration: none;
    border-bottom: #e0e0e0;
    border-bottom-style: dotted;
    color: #262728;
}

a:visited {
    text-decoration: none;
    border-bottom: #e0e0e0;
    border-bottom-style: dotted;
    color: #262728;
}

a:hover {
    text-decoration: none;
    border-bottom-style: dotted;
    color: #1285e9;
}

a:hover span { 
    background-color:rgba(170, 233, 236, .35);
    transition: all ease-in-out .15s;
    -moz-border-radius: .5em; 
    border-radius:.5em; 

}

.hero-text {
    font-size: 2.8em;
    line-height: 1.2em;
    padding-bottom: 0.6em;
}

#gallery {
    padding-top: 1.5em;
    display:grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(19, 5vw);    
    grid-gap: .8em;
    justify-items: center;
    justify-content: space-evenly;	
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.gallery-img:hover {
    /* opacity: 0.7; */
    transition: all ease-in-out .3s;
}

.gallery-caption {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    text-align: center;
}

.modal {
    display: block; /* Hidden by default */
    opacity: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.9); /* Black w/ opacity */
  }

.zoomed {
    margin: auto;
    display: block;
    opacity: 1;
    width: 80%;
    max-width: 700px;
    transition: all ease-in-out .5s;
}

/* Add Animation - Zoom in the Modal */
.modal-content { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

/* We use this media query to add styles to any device that supports media queries */

@media only screen {}


/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */

@media only screen and (min-width: 768px) {
    #gallery {
        padding-top: 2em;
        display:flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column wrap;
        align-content: center;
    }
    .gallery-item {
        width: 60%;
    }
    .gallery-caption {
        font-size: 1.8em;
    }
    .hero-body p{
        max-width: 100%;
        padding: .5em 0;
    }
    .hero-caption p {
        font-size: 1.5em;
        padding-bottom: .5em;
    }
}

@media only screen and (min-width: 1025px) {

}


/* Used to alter styles for screens at least 1280px wide. */

@media only screen and (min-width: 1280px) {}


/* Used to alter styles for screens at least 1440px wide. */

@media only screen and (min-width: 1440px) {}


/* Apply styles to screens in landscape orientation */

@media only screen and (orientation: landscape) {}


/* Apply styles to screens in portrait orientation */

@media only screen and (orientation: portrait) {}


/* We also use Modernizr to add a .touch class to the body when applicable */


/* You can prepend this class to anything and it will style only for touch devices */

.touch .your-element {}
